.kotak-login {
  margin: 140px auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
form {
  padding: 15px;
}
/* input[type="password"]  */
form > input[type="text"] {
  margin-bottom: 15px;
}

form > button[type="submit"] {
  width: 120px;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .kotak-login {
    width: 100%;
    padding: 15px 3px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
  #daftar-login {
    display: block;
  }
}
